* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
  background: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header li {
  color: #e5e7eb;
  cursor: pointer;
}
/* HERO */
.hero {
  background: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  gap: 40px;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  color: #e5e7eb;
  margin: 10px 0 20px;
}

.hero-text button {
  background: #3882f6;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.hero-image {
  background: gray;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
